{##################################################################################}
{##                                                                              ##}
{## guimain.html.twig                             (c) Wolfram Plettscher 01/2021 ##}
{##                                                                              ##}
{##################################################################################}
{% extends 'skeleton.html.twig' %}

{##################################################################################}
{#                                                                                #}
{# contentbody                                                                    #}
{#                                                                                #}
{##################################################################################}
{% block contentbody %}

<h1>Microservice replacing Monolith functionality (demonstration)</h1>
<h3>Return input String back to Lambda-Agent ... and finally into Monolith</h3>
https://ms1.tsys.koeln or temporarily http://m2m.tsys.koeln/gui <br>

<table>
  <tr>
    <td> {{ form_widget (form.submit, {'attr': {'class': 'css_btn_class'}}) }} </td>
  </tr>
</table>

{% endblock %} {# of contentbody #}
