{##################################################################################}
{##                                                                              ##}
{## guimain.html.twig                             (c) Wolfram Plettscher 01/2021 ##}
{##                                                                              ##}
{##################################################################################}
{% extends 'skeleton.html.twig' %}

{##################################################################################}
{#                                                                                #}
{# header                                                                         #}
{#                                                                                #}
{##################################################################################}
{#
{% block header %}

{% endblock %} {# of header #}

{##################################################################################}
{#                                                                                #}
{# contentbody                                                                    #}
{#                                                                                #}
{##################################################################################}
{% block contentbody %}

<h1>M2M Microservice</h1>
Stay tuned: we will provide a more sophisticated GUI soon.

{% endblock %} {# of contentbody #}
